{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0",
    "title": "YooMoney API Reference",
    "description": "The YooMoney API Reference describes all the YooMoney API methods. The API allows you to process online payments via different methods and make payouts. More about integration via the YooMoney API: Integration guide: https://yookassa.ru/developers: description of payment solutions based on the YooMoney API as well as links to detailed instructions.; Interaction format: https://yookassa.ru/developers/using-api/interaction-format: description of request formats, requirements for request authentication and idempotency key, specifics of response processing.; OpenAPI specification: https://yookassa.ru/developers/using-api/openapi-specification: information about the YooMoney API specification, link for downloading the specification in the YAML format.; Ready-made SDK: https://yookassa.ru/developers/using-api/using-sdks: links to ready-made solutions for PHP, Python, and other programming languages.; Incoming notifications: https://yookassa.ru/developers/using-api/webhooks: description of the operating procedure for notifications (webhook, callback) sent to track object statuses. YooMoney API changelog: https://yookassa.ru/developers/using-api/changelog"
  },
  "servers": [
    {
      "url": "https://api.yookassa.ru/v3"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "The API allows you to create, capture, and cancel payments, as well as receive payment information. How to process a payment: https://yookassa.ru/developers/payment-acceptance/getting-started/quick-start"
    },
    {
      "name": "POS links",
      "description": "\u041a\u0430\u0441\u0441\u043e\u0432\u0430\u044f \u0441\u0441\u044b\u043b\u043a\u0430 \u2014 \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u0430\u044f \u0441\u0441\u044b\u043b\u043a\u0430, \u0437\u0430\u0448\u0438\u0444\u0440\u043e\u0432\u0430\u043d\u043d\u0430\u044f \u0432 QR-\u043a\u043e\u0434\u0435 \u0438 NFC-\u043c\u0435\u0442\u043a\u0435 \u043d\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0439 \u0442\u0430\u0431\u043b\u0438\u0447\u043a\u0435: https://yookassa.ru/developers/offline-payments/getting-started/basics. \u041e\u043d\u0430 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0441\u044f \u043d\u0430 \u0432\u0441\u0435\u0445 \u044d\u0442\u0430\u043f\u0430\u0445 \u0440\u0430\u0431\u043e\u0442\u044b \u0441 \u043f\u043b\u0430\u0442\u0435\u0436\u0430\u043c\u0438 \u0432 \u043e\u0444\u043b\u0430\u0439\u043d\u0435: \u043d\u0430 \u044d\u0442\u0430\u043f\u0435 \u043f\u043e\u0434\u0433\u043e\u0442\u043e\u0432\u043a\u0438: https://yookassa.ru/developers/offline-payments/getting-started/basics#prepare \u043a\u0430\u0441\u0441\u043e\u0432\u0443\u044e \u0441\u0441\u044b\u043b\u043a\u0443 \u043d\u0443\u0436\u043d\u043e \u0430\u043a\u0442\u0438\u0432\u0438\u0440\u043e\u0432\u0430\u0442\u044c \u0434\u043b\u044f \u043f\u0440\u0438\u0432\u044f\u0437\u043a\u0438 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0439 \u0442\u0430\u0431\u043b\u0438\u0447\u043a\u0438 \u043a \u0442\u043e\u0440\u0433\u043e\u0432\u043e\u0439 \u0442\u043e\u0447\u043a\u0435; \u043f\u0440\u0438 \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u0438 \u043e\u043f\u043b\u0430\u0442\u044b: https://yookassa.ru/developers/offline-payments/getting-started/payment-process \u043a\u0430\u0441\u0441\u043e\u0432\u0430\u044f \u0441\u0441\u044b\u043b\u043a\u0430 \u043d\u0443\u0436\u043d\u0430 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430. \u0421 \u043f\u043e\u043c\u043e\u0449\u044c\u044e API \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u0443\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u043a\u0430\u0441\u0441\u043e\u0432\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438 \u0438 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u044b\u043c\u0438 \u0442\u0430\u0431\u043b\u0438\u0447\u043a\u0430\u043c\u0438. \u0422\u0430\u043a\u0436\u0435 \u043f\u043e API \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e: https://yookassa.ru/developers/api#get_pos_link \u043e \u043a\u0430\u0441\u0441\u043e\u0432\u043e\u0439 \u0441\u0441\u044b\u043b\u043a\u0435."
    },
    {
      "name": "Payment methods",
      "description": "\u0422\u043e\u043b\u044c\u043a\u043e \u0434\u043b\u044f \u0442\u0435\u0445, \u043a\u0442\u043e \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442 \u043f\u0440\u0438\u0432\u044f\u0437\u043a\u0443 \u043d\u0430 \u043d\u0443\u043b\u0435\u0432\u0443\u044e \u0441\u0443\u043c\u043c\u0443: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/save-payment-method/save-without-payment \u0434\u043b\u044f \u0441\u043e\u0445\u0440\u0430\u043d\u0435\u043d\u0438\u044f \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u0438\u0445 \u043a\u0430\u0440\u0442. \u0421\u043f\u043e\u0441\u043e\u0431 \u043e\u043f\u043b\u0430\u0442\u044b \u2014 \u0434\u0430\u043d\u043d\u044b\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0433\u043e \u0441\u0440\u0435\u0434\u0441\u0442\u0432\u0430 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440, \u0434\u0430\u043d\u043d\u044b\u0435 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0439 \u043a\u0430\u0440\u0442\u044b. \u0421 \u043f\u043e\u043c\u043e\u0449\u044c\u044e API \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0441\u043f\u043e\u0441\u043e\u0431 \u043e\u043f\u043b\u0430\u0442\u044b \u2014 \u0441\u043e\u0445\u0440\u0430\u043d\u0438\u0442\u044c \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u0432 \u042eKassa \u0441 \u043f\u0440\u0438\u0432\u044f\u0437\u043a\u043e\u0439 \u043a \u0432\u0430\u0448\u0435\u043c\u0443 \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0443. \u0422\u0430\u043a\u0436\u0435 \u043f\u043e API \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0441\u043e\u0437\u0434\u0430\u043d\u043d\u043e\u043c \u0441\u043f\u043e\u0441\u043e\u0431\u0435 \u043e\u043f\u043b\u0430\u0442\u044b."
    },
    {
      "name": "Invoices",
      "description": "\u0421\u0447\u0435\u0442 \u2014 \u044d\u0442\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430 \u042eKassa, \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u043e\u0439 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043c\u043e\u0436\u0435\u0442 \u043e\u0437\u043d\u0430\u043a\u043e\u043c\u0438\u0442\u044c\u0441\u044f \u0441 \u0434\u0435\u0442\u0430\u043b\u044f\u043c\u0438 \u0437\u0430\u043a\u0430\u0437\u0430 \u0438 \u0432\u043d\u0435\u0441\u0442\u0438 \u043e\u043f\u043b\u0430\u0442\u0443. \u041f\u0440\u0438 \u043f\u0435\u0440\u0435\u0445\u043e\u0434\u0435 \u043a \u043e\u043f\u043b\u0430\u0442\u0435 \u042eKassa \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438 \u0441\u043e\u0437\u0434\u0430\u0441\u0442 \u043f\u043b\u0430\u0442\u0435\u0436: https://yookassa.ru/developers/api#payment_object \u0438 \u043f\u0435\u0440\u0435\u043d\u0430\u043f\u0440\u0430\u0432\u0438\u0442 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443 \u0441 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0439 \u0444\u043e\u0440\u043c\u043e\u0439. \u0421\u0447\u0435\u0442 \u0441\u0447\u0438\u0442\u0430\u0435\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0447\u0435\u043d\u043d\u044b\u043c, \u0435\u0441\u043b\u0438 \u043f\u043e \u043d\u0435\u043c\u0443 \u0435\u0441\u0442\u044c \u043e\u0434\u0438\u043d \u0443\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043f\u043b\u0430\u0442\u0435\u0436. \u0421 \u043f\u043e\u043c\u043e\u0449\u044c\u044e API \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0441\u0447\u0435\u0442 \u0438 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u043e \u043d\u0451\u043c \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e. \u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435 \u043e \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0438 \u0441\u0447\u0435\u0442\u043e\u0432 \u043f\u043e API: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/invoices/basics"
    },
    {
      "name": "Refunds",
      "description": "\u0421 \u043f\u043e\u043c\u043e\u0449\u044c\u044e API \u043c\u043e\u0436\u043d\u043e \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0442\u044c \u043f\u043b\u0430\u0442\u0435\u0436\u0438 \u2014 \u043f\u043e\u043b\u043d\u043e\u0441\u0442\u044c\u044e \u0438\u043b\u0438 \u0447\u0430\u0441\u0442\u0438\u0447\u043d\u043e. \u041f\u043e\u0440\u044f\u0434\u043e\u043a \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430 \u0437\u0430\u0432\u0438\u0441\u0438\u0442 \u043e\u0442 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u043e\u043f\u043b\u0430\u0442\u044b (payment_method) \u0438\u0441\u0445\u043e\u0434\u043d\u043e\u0433\u043e \u043f\u043b\u0430\u0442\u0435\u0436\u0430. \u041f\u0440\u0438 \u043e\u043f\u043b\u0430\u0442\u0435 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0439 \u043a\u0430\u0440\u0442\u043e\u0439 \u0434\u0435\u043d\u044c\u0433\u0438 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u044e\u0442\u0441\u044f \u043d\u0430 \u043a\u0430\u0440\u0442\u0443, \u043a\u043e\u0442\u043e\u0440\u0430\u044f \u0431\u044b\u043b\u0430 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u0430 \u0434\u043b\u044f \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430. \u041a\u0430\u043a \u043f\u0440\u043e\u0432\u043e\u0434\u0438\u0442\u044c \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u044b: https://yookassa.ru/developers/payment-acceptance/after-the-payment/refunds \u0427\u0430\u0441\u0442\u044c \u0441\u043f\u043e\u0441\u043e\u0431\u043e\u0432 \u043e\u043f\u043b\u0430\u0442\u044b (\u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440, \u043d\u0430\u043b\u0438\u0447\u043d\u044b\u0435) \u043d\u0435 \u043f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u044e\u0442 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u044b. \u041a\u0430\u043a\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0438 \u043c\u043e\u0436\u043d\u043e \u0432\u0435\u0440\u043d\u0443\u0442\u044c: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all"
    },
    {
      "name": "Receipts",
      "description": "\u0414\u043b\u044f \u0442\u0435\u0445, \u043a\u0442\u043e \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442 \u0440\u0435\u0448\u0435\u043d\u0438\u0435 \u042eKassa \u0434\u043b\u044f 54-\u0424\u0417: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/basics \u0421 \u043f\u043e\u043c\u043e\u0449\u044c\u044e API \u043c\u043e\u0436\u043d\u043e \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0447\u0435\u043a\u0430\u0445, \u0434\u043b\u044f \u043a\u043e\u0442\u043e\u0440\u044b\u0445 \u0432\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u043b\u0438 \u0434\u0430\u043d\u043d\u044b\u0435 \u0447\u0435\u0440\u0435\u0437 \u042eKassa."
    },
    {
      "name": "Payouts",
      "description": "Payout is a sum of money that you transfer to an individual. Using the API, you can make a payout and get the information about its current status. Payouts are used in the following YooMoney payment solutions: Payouts: https://yookassa.ru/developers/payouts/overview: you, as a company, transfer money to individuals (for example, send cashback to users).; Safe Deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics: your platform transfers payment from one individual to another as part of a created deal."
    },
    {
      "name": "FPS participants",
      "description": "Only for those who make regular payouts, not using the Safe deal. FPS participants are banks and payment services connected to the FPS (Faster Payments System of the Central Bank of Russia). Using the YooMoney API, you can get an up-to-date list of all FPS participants. Information about FPS participants is required for making payouts via FPS. How to make payouts via FPS: https://yookassa.ru/developers/payouts/making-payouts/sbp"
    },
    {
      "name": "Personal data",
      "description": "Only for those who make regular payouts, not using the Safe deal. The user's personal data includes their first name, last name, patronymic, and other information about them. Using the API, you can create personal data in YooMoney (save user data) and get up-to-date information about the status of personal data. The user's personal data is required for the following scenarios: payouts with recipient verification: https://yookassa.ru/developers/payouts/scenario-extensions/recipient-check (only for payouts via FPS); payouts with recipient data for payout report extracts: https://yookassa.ru/developers/payouts/scenario-extensions/recipient-data-send."
    },
    {
      "name": "Deals",
      "description": "\u0422\u043e\u043b\u044c\u043a\u043e \u0434\u043b\u044f \u0442\u0435\u0445, \u043a\u0442\u043e \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442 \u0411\u0435\u0437\u043e\u043f\u0430\u0441\u043d\u0443\u044e \u0441\u0434\u0435\u043b\u043a\u0443: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. \u0411\u0435\u0437\u043e\u043f\u0430\u0441\u043d\u0430\u044f \u0441\u0434\u0435\u043b\u043a\u0430 \u2014 \u044d\u0442\u043e \u0440\u0435\u0448\u0435\u043d\u0438\u0435 \u042eKassa, \u0441 \u043f\u043e\u043c\u043e\u0449\u044c\u044e \u043a\u043e\u0442\u043e\u0440\u043e\u0433\u043e \u043c\u043e\u0436\u043d\u043e \u043f\u0440\u0438\u043d\u044f\u0442\u044c \u043e\u043f\u043b\u0430\u0442\u0443 \u043e\u0442 \u043e\u0434\u043d\u043e\u0433\u043e \u0443\u0447\u0430\u0441\u0442\u043d\u0438\u043a\u0430 \u0441\u0434\u0435\u043b\u043a\u0438 \u0438 \u043f\u0435\u0440\u0435\u0432\u0435\u0441\u0442\u0438 \u0435\u0435 \u0434\u0440\u0443\u0433\u043e\u043c\u0443 \u0443\u0447\u0430\u0441\u0442\u043d\u0438\u043a\u0443 \u0432 \u043c\u043e\u043c\u0435\u043d\u0442 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f \u0443\u0441\u043b\u043e\u0432\u0438\u0439 \u0441\u0434\u0435\u043b\u043a\u0438. \u0421 \u043f\u043e\u043c\u043e\u0449\u044c\u044e API \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0441\u0434\u0435\u043b\u043a\u0443 \u0438 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u043e \u043d\u0435\u0439 \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e."
    },
    {
      "name": "Webhooks",
      "description": "Authentication by OAuth token only. Available as part of the partnership program: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics Webhook is a mechanism that automatically notifies your system about the events related to created objects. For example, YooMoney can notify you whenever the status of the payment object: https://yookassa.ru/developers/api#payment_object created in your app changes to waiting_for_capture. The API allows you to configure webhook (create, delete, view the list of active notifications) for a sent OAuth token. More about the YooMoney API notifications: https://yookassa.ru/developers/using-api/webhooks"
    },
    {
      "name": "Settings",
      "description": "Only for those who use Split payments, Partnership program, or Payouts. In YooMoney, each store and gateway has certain settings that affect the integration and processing of payments and payouts. The settings are available in the Merchant Profile: https://yookassa.ru/my/, but it's important to receive settings via the API with some YooMoney payment solutions. The settings must be received via the API in the following YooMoney payment solutions: Split payments: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics: you can find out the status of the seller's store connected to your platform.; Partnership program: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics: you can get background information about the store on behalf of which you are performing transactions. For example, you can find out whether you need to transfer data for sending a receipt.; Payouts: https://yookassa.ru/developers/payouts/overview: you can find out the payout balance of your gateway."
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "summary": "Create a payment",
        "description": "To accept a payment, you need to create a payment object: https://yookassa.ru/developers/api#payment_object, Payment. It contains all the necessary payment information (amount, currency, and status). Payments have a linear life cycle, going from one status to the next sequentially.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "CreatePaymentRequest",
                "properties": {
                  "amount": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/MonetaryAmount"
                      },
                      {
                        "description": "Payment amount. Sometimes YooMoney's partners charge additional commission from the users that is not included in this amount. The amount is specified with the currency code. It should match the currency of your subaccount (recipient.gateway_id) if you separate payment flows, or the currency of the account (shopId in the Merchant Profile) if you don't."
                      }
                    ]
                  },
                  "description": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Description"
                      },
                      {
                        "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438 (\u043d\u0435 \u0431\u043e\u043b\u0435\u0435 128 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432), \u043a\u043e\u0442\u043e\u0440\u043e\u0435 \u0432\u044b \u0443\u0432\u0438\u0434\u0438\u0442\u0435 \u0432 \u043b\u0438\u0447\u043d\u043e\u043c \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0435 \u042eKassa, \u0430 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u2014 \u043f\u0440\u0438 \u043e\u043f\u043b\u0430\u0442\u0435. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440: \u00ab\u041e\u043f\u043b\u0430\u0442\u0430 \u0437\u0430\u043a\u0430\u0437\u0430 \u2116 72 \u0434\u043b\u044f user@yoomoney.ru\u00bb."
                      }
                    ]
                  },
                  "receipt": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/Recipient"
                  },
                  "payment_token": {
                    "$ref": "#/components/schemas/PaymentToken"
                  },
                  "payment_method_id": {
                    "$ref": "#/components/schemas/PaymentMethodId"
                  },
                  "payment_method_data": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataBankCard"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataCash"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataSberbank"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataTinkoffBank"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataYooMoney"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataMobileBalance"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataB2bSberbank"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataSbp"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataSberLoan"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataElectronicCertificate"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataSberBnpl"
                      },
                      {
                        "$ref": "#/components/schemas/PaymentMethodDataAlfaPay"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type"
                    }
                  },
                  "confirmation": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ConfirmationDataRedirect"
                      },
                      {
                        "$ref": "#/components/schemas/ConfirmationDataExternal"
                      },
                      {
                        "$ref": "#/components/schemas/ConfirmationDataQr"
                      },
                      {
                        "$ref": "#/components/schemas/ConfirmationDataEmbedded"
                      },
                      {
                        "$ref": "#/components/schemas/ConfirmationDataMobileApplication"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type"
                    }
                  },
                  "save_payment_method": {
                    "$ref": "#/components/schemas/SavePaymentMethodAttribute"
                  },
                  "capture": {
                    "$ref": "#/components/schemas/Capture"
                  },
                  "client_ip": {
                    "$ref": "#/components/schemas/ClientIp"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "airline": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Airline"
                      },
                      {
                        "description": "Object containing the data for selling airline tickets. Used only for bank card payments."
                      }
                    ]
                  },
                  "transfers": {
                    "description": "Information about money distribution: the amounts of transfers and the stores to be transferred to. Specified if you use Split payments: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TransferDataPayment"
                    }
                  },
                  "deal": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PaymentDealInfo"
                      },
                      {
                        "description": "The deal within which the payment is being carried out. Specified if you use Safe deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
                      }
                    ]
                  },
                  "merchant_customer_id": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/MerchantCustomerId"
                      },
                      {
                        "description": "The identifier of the customer in your system, such as email address or phone number. No more than 200 characters. Specified if you want to save a bank card and offer it for a recurring payment in the YooMoney payment widget: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/widget/basics."
                      }
                    ]
                  },
                  "payment_order": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/PaymentOrderDataUtilities"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type"
                    }
                  },
                  "receiver": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ReceiverMobileBalance"
                      },
                      {
                        "$ref": "#/components/schemas/ReceiverDigitalWallet"
                      },
                      {
                        "$ref": "#/components/schemas/ReceiverBankAccount"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type"
                    }
                  },
                  "statements": {
                    "type": "array",
                    "description": "Data for sending statements. Required if you want the user to receive a statement after they make a payment. Only one type of statement is currently available: payment overview.  This is the information about a successful payment that YooMoney sends to the user's email address. An overview may be sent if the payment was made via bank cards, SberPay, or FPS. The option to send overviews is available for all integration scenarios: https://yookassa.ru/developers/payment-acceptance/getting-started/selecting-integration-scenario.",
                    "items": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaymentOverviewStatementData"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type"
                      }
                    }
                  },
                  "pos_link": {
                    "$ref": "#/components/schemas/PosLinkPaymentData"
                  }
                },
                "required": [
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List payments",
        "description": "Use this request to get a list of payments. You can download payments created over the last 3 years. You can filter the list by specified criteria. More about working with lists: https://yookassa.ru/developers/using-api/lists",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreatedGte"
          },
          {
            "$ref": "#/components/parameters/CreatedGt"
          },
          {
            "$ref": "#/components/parameters/CreatedLte"
          },
          {
            "$ref": "#/components/parameters/CreatedLt"
          },
          {
            "in": "query",
            "name": "captured_at.gte",
            "description": "Filter by time of payment capture: time must be greater than the specified value or equal (\"from a certain moment inclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.gte=2018-07-18T10:51:18.139Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "captured_at.gt",
            "description": "Filter by time of payment capture: time must be greater than the specified value (\"from a certain moment exclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.gt=2018-07-18T10:51:18.139Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "captured_at.lte",
            "description": "Filter by time of payment capture: time must be less than the specified value or equal (\"until a certain moment inclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.lte=2018-07-18T10:51:18.139Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "captured_at.lt",
            "description": "Filter by time of payment capture: time must be less than the specified value (\"until a certain moment exclusive\") Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.lt=2018-07-18T10:51:18.139Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "payment_method",
            "schema": {
              "$ref": "#/components/schemas/PaymentMethodType"
            },
            "required": false,
            "description": "Filter by payment method: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all code. Example: payment_method=bank_card"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/PaymentStatus"
            },
            "required": false,
            "description": "Filter by payment status: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#lifecycle. Example: status=succeeded"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payments/{payment_id}": {
      "get": {
        "summary": "Get payment information",
        "description": "This request allows you to get the information about the current payment status by its unique ID.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payments/{payment_id}/capture": {
      "post": {
        "summary": "Capture a payment",
        "description": "Confirm you\u2019re ready to accept the payment. Once the payment is captured, the status will change to succeeded. After that, you can provide the customer with the product or service. You can only capture payments with the waiting_for_capture status, and only for a certain amount of time (depending on the payment method). If you do not capture the payment within the allotted time, the status will change to canceled, and the money will be returned to the user. More about capturing and canceling payments: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "PaymentCaptureRequest",
                "properties": {
                  "amount": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/MonetaryAmount"
                      },
                      {
                        "description": "Total amount that will be debited from the user. You can specify a part of the initial amount to return the balance to the user. To do this, make sure that the selected payment method supports partial debit: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-partly. The amount is specified with the currency code. It should match the currency of your subaccount (recipient.gateway_id) if you separate payment flows, or the currency of the account (shopId in the Merchant Profile) if you don't."
                      }
                    ]
                  },
                  "receipt": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "airline": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Airline"
                      },
                      {
                        "description": "Object containing the data for selling airline tickets. Used only for bank card payments."
                      }
                    ]
                  },
                  "transfers": {
                    "description": "Information about money distribution: the amounts of transfers and the stores to be transferred to. Specified for partially capturing a payment if you use Split payments: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TransferDataCapture"
                    }
                  },
                  "deal": {
                    "type": "object",
                    "description": "The deal within which the payment is being carried out. Specified for partially capturing a payment if you use Safe deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.",
                    "title": "CapturePaymentDeal",
                    "properties": {
                      "settlements": {
                        "$ref": "#/components/schemas/SettlementPaymentArray"
                      }
                    },
                    "required": [
                      "settlements"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payments/{payment_id}/cancel": {
      "post": {
        "summary": "Cancel a payment",
        "description": "Cancel payments with the waiting_for_capture status. Payment cancelation means you are not ready to dispatch a product or to provide a service to the user. Once you cancel the payment, we will start returning the money to the payer\u2019s account. If the payment was made from a bank card, a YooMoney wallet, or via SberPay, the money will be refunded instantly. If the payment was made using other payment methods, the process can take up to several days. More about capturing and canceling payments: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payment_methods": {
      "post": {
        "summary": "Create a payment method",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441, \u0447\u0442\u043e\u0431\u044b \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0432 \u042eKassa \u043e\u0431\u044a\u0435\u043a\u0442 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u043e\u043f\u043b\u0430\u0442\u044b: https://yookassa.ru/developers/api#payment_method_object. \u0412 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u043a\u043e\u0434 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u043e\u043f\u043b\u0430\u0442\u044b, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0432\u044b \u0445\u043e\u0442\u0438\u0442\u0435 \u0441\u043e\u0445\u0440\u0430\u043d\u0438\u0442\u044c, \u0438 \u043f\u0440\u0438 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e\u0441\u0442\u0438 \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b, \u0441\u0432\u044f\u0437\u0430\u043d\u043d\u044b\u0435 \u0441 \u0442\u043e\u0439 \u0444\u0443\u043d\u043a\u0446\u0438\u043e\u043d\u0430\u043b\u044c\u043d\u043e\u0441\u0442\u044c\u044e, \u043a\u043e\u0442\u043e\u0440\u0443\u044e \u0432\u044b \u0445\u043e\u0442\u0438\u0442\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u044c. \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043e\u0437\u0434\u0430\u043d\u043d\u043e\u0433\u043e \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u043e\u043f\u043b\u0430\u0442\u044b \u0432\u044b \u043c\u043e\u0436\u0435\u0442\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u044c \u043f\u0440\u0438 \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u0438 \u0430\u0432\u0442\u043e\u043f\u043b\u0430\u0442\u0435\u0436\u0435\u0439: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/create-recurring \u0438\u043b\u0438 \u0432\u044b\u043f\u043b\u0430\u0442: https://yookassa.ru/developers/payouts/scenario-extensions/multipurpose-token.",
        "tags": [
          "Payment methods"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SavePaymentMethodDataBankCard"
                  },
                  {
                    "$ref": "#/components/schemas/SavePaymentMethodDataSbp"
                  }
                ],
                "discriminator": {
                  "propertyName": "type"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SavePaymentMethodBankCard"
                    },
                    {
                      "$ref": "#/components/schemas/SavePaymentMethodSbp"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payment_methods/{payment_method_id}": {
      "get": {
        "summary": "Get payment method information",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441, \u0447\u0442\u043e\u0431\u044b \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u0435\u043a\u0443\u0449\u0435\u043c \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0438 \u0441\u043f\u043e\u0441\u043e\u0431\u0430 \u043e\u043f\u043b\u0430\u0442\u044b \u043f\u043e \u0435\u0433\u043e \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u043c\u0443 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443.",
        "tags": [
          "Payment methods"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentMethodIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SavePaymentMethodBankCard"
                    },
                    {
                      "$ref": "#/components/schemas/SavePaymentMethodSbp"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/invoices": {
      "post": {
        "summary": "Create an invoice",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441, \u0447\u0442\u043e\u0431\u044b \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0432 \u042eKassa \u043e\u0431\u044a\u0435\u043a\u0442 \u0441\u0447\u0435\u0442\u0430: https://yookassa.ru/developers/api#invoice_object. \u0412 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0434\u0430\u043d\u043d\u044b\u0435 \u043e \u0437\u0430\u043a\u0430\u0437\u0435, \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0442\u043e\u0431\u0440\u0430\u0437\u044f\u0442\u0441\u044f \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435 \u0441\u0447\u0435\u0442\u0430, \u0438 \u0434\u0430\u043d\u043d\u044b\u0435 \u0434\u043b\u044f \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430.",
        "tags": [
          "Invoices"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "CreateInvoiceRequest",
                "properties": {
                  "payment_data": {
                    "$ref": "#/components/schemas/PaymentData"
                  },
                  "cart": {
                    "$ref": "#/components/schemas/Cart"
                  },
                  "delivery_method_data": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DeliveryMethodDataSelf"
                      },
                      {
                        "$ref": "#/components/schemas/DeliveryMethodDataSms"
                      },
                      {
                        "$ref": "#/components/schemas/DeliveryMethodDataEmail"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type"
                    }
                  },
                  "expires_at": {
                    "$ref": "#/components/schemas/InvoiceExpirationDate"
                  },
                  "locale": {
                    "$ref": "#/components/schemas/Locale"
                  },
                  "description": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Description"
                      },
                      {
                        "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u043d\u043e\u0433\u043e \u0441\u0447\u0435\u0442\u0430 (\u043d\u0435 \u0431\u043e\u043b\u0435\u0435 128 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432), \u043a\u043e\u0442\u043e\u0440\u043e\u0435 \u0432\u044b \u0443\u0432\u0438\u0434\u0438\u0442\u0435 \u0432 \u043b\u0438\u0447\u043d\u043e\u043c \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0435 \u042eKassa, \u0430 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435 \u0441\u0447\u0435\u0442\u0430. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440: \u00ab\u0421\u0447\u0435\u0442 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443 \u043f\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0443 37\u00bb."
                      }
                    ]
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                },
                "required": [
                  "payment_data",
                  "cart",
                  "expires_at"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "summary": "Get invoice information",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441, \u0447\u0442\u043e\u0431\u044b \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u0435\u043a\u0443\u0449\u0435\u043c \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0438 \u0441\u0447\u0435\u0442\u0430 \u043f\u043e \u0435\u0433\u043e \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u043c\u0443 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443.",
        "parameters": [
          {
            "$ref": "#/components/parameters/invoiceId"
          }
        ],
        "tags": [
          "Invoices"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/refunds": {
      "post": {
        "summary": "Create a refund",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0435\u0442 \u0432\u043e\u0437\u0432\u0440\u0430\u0442 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0433\u043e \u043f\u043b\u0430\u0442\u0435\u0436\u0430 \u043d\u0430 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u0443\u044e \u0441\u0443\u043c\u043c\u0443. \u041f\u043b\u0430\u0442\u0435\u0436 \u043c\u043e\u0436\u043d\u043e \u0432\u0435\u0440\u043d\u0443\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0432 \u0442\u0435\u0447\u0435\u043d\u0438\u0435 \u0442\u0440\u0435\u0445 \u043b\u0435\u0442 \u0441 \u043c\u043e\u043c\u0435\u043d\u0442\u0430 \u0435\u0433\u043e \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f: https://yookassa.ru/developers/api#create_payment. \u041a\u043e\u043c\u0438\u0441\u0441\u0438\u044f \u042eKassa \u0437\u0430 \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0430 \u043d\u0435 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442\u0441\u044f.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "RefundRequest",
                "properties": {
                  "payment_id": {
                    "$ref": "#/components/schemas/PaymentId"
                  },
                  "amount": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/MonetaryAmount"
                      },
                      {
                        "description": "The amount that must be refunded to the user. The amount is specified with the currency code. It should match the currency of your subaccount (recipient.gateway_id) if you separate payment flows, or the currency of the account (shopId in the Merchant Profile) if you don't."
                      }
                    ]
                  },
                  "description": {
                    "description": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043a \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0443, \u043e\u0441\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0434\u043b\u044f \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430 \u0434\u0435\u043d\u0435\u0433 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044e.",
                    "type": "string",
                    "maxLength": 250
                  },
                  "receipt": {
                    "$ref": "#/components/schemas/ReceiptData"
                  },
                  "sources": {
                    "description": "\u0414\u0430\u043d\u043d\u044b\u0435 \u043e \u0442\u043e\u043c, \u0441 \u043a\u0430\u043a\u043e\u0433\u043e \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430 \u0438 \u043a\u0430\u043a\u0443\u044e \u0441\u0443\u043c\u043c\u0443 \u043d\u0443\u0436\u043d\u043e \u0443\u0434\u0435\u0440\u0436\u0430\u0442\u044c \u0434\u043b\u044f \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u044f \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430. \u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044c, \u0435\u0441\u043b\u0438 \u0432\u044b \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0435 \u0421\u043f\u043b\u0438\u0442\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0435\u0439: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. \u0421\u0435\u0439\u0447\u0430\u0441 \u0432 \u044d\u0442\u043e\u043c \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u0435 \u043c\u043e\u0436\u043d\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0434\u0430\u043d\u043d\u044b\u0435 \u0442\u043e\u043b\u044c\u043a\u043e \u043e\u0434\u043d\u043e\u0433\u043e \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RefundSourcesData"
                    }
                  },
                  "deal": {
                    "$ref": "#/components/schemas/RefundDealData"
                  },
                  "refund_method_data": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ElectronicCertificateRefundMethodData"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type"
                    }
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                },
                "required": [
                  "payment_id",
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List refunds",
        "description": "Use this request to get a list of refunds. You can download refunds created over the last 3 years. You can filter the list by specified criteria. More about working with lists: https://yookassa.ru/developers/using-api/lists",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreatedGte"
          },
          {
            "$ref": "#/components/parameters/CreatedGt"
          },
          {
            "$ref": "#/components/parameters/CreatedLte"
          },
          {
            "$ref": "#/components/parameters/CreatedLt"
          },
          {
            "in": "query",
            "name": "payment_id",
            "schema": {
              "$ref": "#/components/schemas/PaymentId"
            },
            "required": false,
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443 \u043f\u043b\u0430\u0442\u0435\u0436\u0430: https://yookassa.ru/developers/api#payment_object_id (\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0432\u0441\u0435 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u044b \u043f\u043e \u043f\u043b\u0430\u0442\u0435\u0436\u0443). \u041f\u0440\u0438\u043c\u0435\u0440: payment_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/RefundStatus"
            },
            "required": false,
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0443 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430. \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f: pending \u2014 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435, succeeded \u2014 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d, canceled \u2014 \u043e\u0442\u043c\u0435\u043d\u0435\u043d. \u041f\u0440\u0438\u043c\u0435\u0440: status=succeeded"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/refunds/{refund_id}": {
      "get": {
        "summary": "Get refund information",
        "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u043e\u0437\u0432\u043e\u043b\u044f\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u0435\u043a\u0443\u0449\u0435\u043c \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0438 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430 \u043f\u043e \u0435\u0433\u043e \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u043c\u0443 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/refundIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/receipts": {
      "post": {
        "summary": "Create a receipt",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441 \u043f\u0440\u0438 \u043e\u043f\u043b\u0430\u0442\u0435 \u0441 \u0441\u043e\u0431\u043b\u044e\u0434\u0435\u043d\u0438\u0435\u043c \u0442\u0440\u0435\u0431\u043e\u0432\u0430\u043d\u0438\u0439 54-\u0424\u0417: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/basics, \u0447\u0442\u043e\u0431\u044b \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0447\u0435\u043a \u0437\u0430\u0447\u0435\u0442\u0430 \u043f\u0440\u0435\u0434\u043e\u043f\u043b\u0430\u0442\u044b. \u0415\u0441\u043b\u0438 \u0432\u044b \u0440\u0430\u0431\u043e\u0442\u0430\u0435\u0442\u0435 \u043f\u043e \u0441\u0446\u0435\u043d\u0430\u0440\u0438\u044e \u0421\u043d\u0430\u0447\u0430\u043b\u0430 \u043f\u043b\u0430\u0442\u0435\u0436, \u043f\u043e\u0442\u043e\u043c \u0447\u0435\u043a: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#receipt-after-payment, \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u0442\u0430\u043a\u0436\u0435 \u043d\u0443\u0436\u043d\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044c \u0434\u0430\u043d\u043d\u044b\u0435 \u0434\u043b\u044f \u0444\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f \u0447\u0435\u043a\u0430 \u043f\u0440\u0438\u0445\u043e\u0434\u0430 \u0438 \u0447\u0435\u043a\u0430 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430 \u043f\u0440\u0438\u0445\u043e\u0434\u0430.",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReceiptData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List receipts",
        "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u043e\u0437\u0432\u043e\u043b\u044f\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u0447\u0435\u043a\u043e\u0432, \u043e\u0442\u0444\u0438\u043b\u044c\u0442\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0439 \u043f\u043e \u0437\u0430\u0434\u0430\u043d\u043d\u044b\u043c \u043a\u0440\u0438\u0442\u0435\u0440\u0438\u044f\u043c. \u041c\u043e\u0436\u043d\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0438\u0442\u044c \u0447\u0435\u043a\u0438 \u043f\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c\u0443 \u043f\u043b\u0430\u0442\u0435\u0436\u0443, \u0447\u0435\u043a\u0438 \u043f\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c\u0443 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0443 \u0438\u043b\u0438 \u0432\u0441\u0435 \u0447\u0435\u043a\u0438 \u043c\u0430\u0433\u0430\u0437\u0438\u043d\u0430. \u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435 \u043e \u0440\u0430\u0431\u043e\u0442\u0435 \u0441\u043e \u0441\u043f\u0438\u0441\u043a\u0430\u043c\u0438: https://yookassa.ru/developers/using-api/lists",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreatedGte"
          },
          {
            "$ref": "#/components/parameters/CreatedGt"
          },
          {
            "$ref": "#/components/parameters/CreatedLte"
          },
          {
            "$ref": "#/components/parameters/CreatedLt"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/ReceiptRegistrationStatus"
            },
            "required": false,
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0443 \u0447\u0435\u043a\u0430. \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f: pending \u2014 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435, succeeded \u2014 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0437\u0430\u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u043d, canceled \u2014 \u043e\u0442\u043c\u0435\u043d\u0435\u043d. \u041f\u0440\u0438\u043c\u0435\u0440: status=succeeded"
          },
          {
            "in": "query",
            "name": "payment_id",
            "schema": {
              "$ref": "#/components/schemas/PaymentId"
            },
            "required": false,
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443 \u043f\u043b\u0430\u0442\u0435\u0436\u0430: https://yookassa.ru/developers/api#payment_object_id (\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0432\u0441\u0435 \u0447\u0435\u043a\u0438 \u0434\u043b\u044f \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0433\u043e \u043f\u043b\u0430\u0442\u0435\u0436\u0430). \u041f\u0440\u0438\u043c\u0435\u0440: payment_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9 \u0412 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043c\u043e\u0436\u043d\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0447\u0442\u043e-\u0442\u043e \u043e\u0434\u043d\u043e: \u0438\u043b\u0438 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430, \u0438\u043b\u0438 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430."
          },
          {
            "in": "query",
            "name": "refund_id",
            "schema": {
              "$ref": "#/components/schemas/RefundId"
            },
            "required": false,
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430: https://yookassa.ru/developers/api#refund_object_id (\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0432\u0441\u0435 \u0447\u0435\u043a\u0438 \u0434\u043b\u044f \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0433\u043e \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430). \u041f\u0440\u0438\u043c\u0435\u0440: refund_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9 \u0412 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043c\u043e\u0436\u043d\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0447\u0442\u043e-\u0442\u043e \u043e\u0434\u043d\u043e: \u0438\u043b\u0438 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430, \u0438\u043b\u0438 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430."
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0447\u0435\u043a\u043e\u0432, \u0441\u043e\u0437\u0434\u0430\u043d\u043d\u044b\u0445 \u0437\u0430 \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0438\u0435 \u0442\u0440\u0438 \u0433\u043e\u0434\u0430. \u0427\u0435\u043a\u0438 \u043e\u0442\u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u044b \u043f\u043e \u0432\u0440\u0435\u043c\u0435\u043d\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0432 \u043f\u043e\u0440\u044f\u0434\u043a\u0435 \u0443\u0431\u044b\u0432\u0430\u043d\u0438\u044f (\u043e\u0442 \u043d\u043e\u0432\u044b\u0445 \u043a \u0441\u0442\u0430\u0440\u044b\u043c). \u0415\u0441\u043b\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u0431\u043e\u043b\u044c\u0448\u0435, \u0447\u0435\u043c \u0437\u0430\u0434\u0430\u043d\u043e \u0432 limit, \u0441\u043f\u0438\u0441\u043e\u043a \u0431\u0443\u0434\u0435\u0442 \u0432\u044b\u0432\u043e\u0434\u0438\u0442\u044c\u0441\u044f \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442\u0430\u043c\u0438. \u0412 \u044d\u0442\u043e\u043c \u0441\u043b\u0443\u0447\u0430\u0435 \u0432 \u043e\u0442\u0432\u0435\u0442\u0435 \u043d\u0430 \u0437\u0430\u043f\u0440\u043e\u0441 \u0432\u0435\u0440\u043d\u0435\u0442\u0441\u044f \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442 \u0441\u043f\u0438\u0441\u043a\u0430 \u0438 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 next_cursor \u0441 \u0443\u043a\u0430\u0437\u0430\u0442\u0435\u043b\u0435\u043c \u043d\u0430 \u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0438\u0439 \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442.",
                  "title": "ReceiptList",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "\u0424\u043e\u0440\u043c\u0430\u0442 \u0432\u044b\u0434\u0430\u0447\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0430. \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435: list (\u0441\u043f\u0438\u0441\u043e\u043a).",
                      "enum": [
                        "list"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Receipt"
                      }
                    },
                    "next_cursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  },
                  "required": [
                    "type",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/receipts/{receipt_id}": {
      "get": {
        "summary": "Get receipt information",
        "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u043e\u0437\u0432\u043e\u043b\u044f\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u0435\u043a\u0443\u0449\u0435\u043c \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0438 \u0447\u0435\u043a\u0430 \u043f\u043e \u0435\u0433\u043e \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u043c\u0443 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443.",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/receiptIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/deals": {
      "post": {
        "summary": "Create a deal",
        "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u043e\u0437\u0432\u043e\u043b\u044f\u0435\u0442 \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0441\u0434\u0435\u043b\u043a\u0443, \u0432 \u0440\u0430\u043c\u043a\u0430\u0445 \u043a\u043e\u0442\u043e\u0440\u043e\u0439 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0440\u0438\u043d\u044f\u0442\u044c \u043e\u043f\u043b\u0430\u0442\u0443 \u043e\u0442 \u043f\u043e\u043a\u0443\u043f\u0430\u0442\u0435\u043b\u044f \u0438 \u043f\u0435\u0440\u0435\u0447\u0438\u0441\u043b\u0438\u0442\u044c \u0435\u0435 \u043f\u0440\u043e\u0434\u0430\u0432\u0446\u0443.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SafeDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u0440\u0438\u043d\u044f\u0442 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0443 \u0438 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeDeal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List deals",
        "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u043e\u0437\u0432\u043e\u043b\u044f\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u0441\u0434\u0435\u043b\u043e\u043a, \u043e\u0442\u0444\u0438\u043b\u044c\u0442\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0439 \u043f\u043e \u0437\u0430\u0434\u0430\u043d\u043d\u044b\u043c \u043a\u0440\u0438\u0442\u0435\u0440\u0438\u044f\u043c. \u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435 \u043e \u0440\u0430\u0431\u043e\u0442\u0435 \u0441\u043e \u0441\u043f\u0438\u0441\u043a\u0430\u043c\u0438: https://yookassa.ru/developers/using-api/lists",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreatedGte"
          },
          {
            "$ref": "#/components/parameters/CreatedGt"
          },
          {
            "$ref": "#/components/parameters/CreatedLte"
          },
          {
            "$ref": "#/components/parameters/CreatedLt"
          },
          {
            "$ref": "#/components/parameters/ExpiresGte"
          },
          {
            "$ref": "#/components/parameters/ExpiresGt"
          },
          {
            "$ref": "#/components/parameters/ExpiresLte"
          },
          {
            "$ref": "#/components/parameters/ExpiresLt"
          },
          {
            "$ref": "#/components/parameters/DealStatusParameter"
          },
          {
            "$ref": "#/components/parameters/FullTextSearch"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0441\u0434\u0435\u043b\u043e\u043a, \u0441\u043e\u0437\u0434\u0430\u043d\u043d\u044b\u0445 \u0437\u0430 \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0438\u0435 \u0442\u0440\u0438 \u0433\u043e\u0434\u0430. \u0421\u0434\u0435\u043b\u043a\u0438 \u043e\u0442\u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u044b \u043f\u043e \u0432\u0440\u0435\u043c\u0435\u043d\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0432 \u043f\u043e\u0440\u044f\u0434\u043a\u0435 \u0443\u0431\u044b\u0432\u0430\u043d\u0438\u044f (\u043e\u0442 \u043d\u043e\u0432\u044b\u0445 \u043a \u0441\u0442\u0430\u0440\u044b\u043c). \u0415\u0441\u043b\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u0431\u043e\u043b\u044c\u0448\u0435, \u0447\u0435\u043c \u0437\u0430\u0434\u0430\u043d\u043e \u0432 limit, \u0441\u043f\u0438\u0441\u043e\u043a \u0431\u0443\u0434\u0435\u0442 \u0432\u044b\u0432\u043e\u0434\u0438\u0442\u044c\u0441\u044f \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442\u0430\u043c\u0438. \u0412 \u044d\u0442\u043e\u043c \u0441\u043b\u0443\u0447\u0430\u0435 \u0432 \u043e\u0442\u0432\u0435\u0442\u0435 \u043d\u0430 \u0437\u0430\u043f\u0440\u043e\u0441 \u0432\u0435\u0440\u043d\u0435\u0442\u0441\u044f \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442 \u0441\u043f\u0438\u0441\u043a\u0430 \u0438 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 next_cursor \u0441 \u0443\u043a\u0430\u0437\u0430\u0442\u0435\u043b\u0435\u043c \u043d\u0430 \u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0438\u0439 \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442.",
                  "title": "DealList",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "\u0424\u043e\u0440\u043c\u0430\u0442 \u0432\u044b\u0434\u0430\u0447\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0430. \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435: list (\u0441\u043f\u0438\u0441\u043e\u043a).",
                      "enum": [
                        "list"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SafeDeal"
                      }
                    },
                    "next_cursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  },
                  "required": [
                    "type",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/deals/{deal_id}": {
      "get": {
        "summary": "Get deal information",
        "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u043e\u0437\u0432\u043e\u043b\u044f\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u0435\u043a\u0443\u0449\u0435\u043c \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0438 \u0441\u0434\u0435\u043b\u043a\u0438 \u043f\u043e \u0435\u0435 \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u043c\u0443 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DealIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u0440\u0438\u043d\u044f\u0442 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0443 \u0438 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeDeal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "summary": "Create a payout",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441, \u0447\u0442\u043e\u0431\u044b \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0432 \u042eKassa \u043e\u0431\u044a\u0435\u043a\u0442 \u0432\u044b\u043f\u043b\u0430\u0442\u044b: https://yookassa.ru/developers/api#payout_object. \u0412 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u044c \u0441\u0443\u043c\u043c\u0443 \u0432\u044b\u043f\u043b\u0430\u0442\u044b, \u0434\u0430\u043d\u043d\u044b\u0435 \u043e \u0441\u043f\u043e\u0441\u043e\u0431\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0432\u044b\u043f\u043b\u0430\u0442\u044b (\u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440, \u043d\u043e\u043c\u0435\u0440 \u043a\u043e\u0448\u0435\u043b\u044c\u043a\u0430 \u042eMoney), \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0432\u044b\u043f\u043b\u0430\u0442\u044b \u0438 \u043f\u0440\u0438 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e\u0441\u0442\u0438 \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b, \u0441\u0432\u044f\u0437\u0430\u043d\u043d\u044b\u0435 \u0441 \u0442\u043e\u0439 \u0444\u0443\u043d\u043a\u0446\u0438\u043e\u043d\u0430\u043b\u044c\u043d\u043e\u0441\u0442\u044c\u044e, \u043a\u043e\u0442\u043e\u0440\u0443\u044e \u0432\u044b \u0445\u043e\u0442\u0438\u0442\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u044c. \u041f\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0435\u043c\u044b\u0435 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b \u0438 \u0434\u0430\u043d\u043d\u044b\u0435 \u0434\u043b\u044f \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438: https://yookassa.ru/developers/using-api/interaction-format#auth \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432 \u0437\u0430\u0432\u0438\u0441\u044f\u0442 \u043e\u0442 \u0442\u043e\u0433\u043e, \u043a\u0430\u043a\u043e\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0435 \u0440\u0435\u0448\u0435\u043d\u0438\u0435 \u0432\u044b \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0435 \u2014 \u043e\u0431\u044b\u0447\u043d\u044b\u0435 \u0432\u044b\u043f\u043b\u0430\u0442\u044b: https://yookassa.ru/developers/payouts/overview \u0438\u043b\u0438 \u0432\u044b\u043f\u043b\u0430\u0442\u044b \u0432 \u0440\u0430\u043c\u043a\u0430\u0445 \u0411\u0435\u0437\u043e\u043f\u0430\u0441\u043d\u043e\u0439 \u0441\u0434\u0435\u043b\u043a\u0438: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotenceKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u0440\u0438\u043d\u044f\u0442 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0443 \u0438 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List payouts",
        "description": "Use this request to get a list of payouts. You can download payments created over the last 3 years. You can filter the list by specified criteria. Request authentication details: https://yookassa.ru/developers/using-api/interaction-format#auth depend on which payment solution you are using: basic payouts: https://yookassa.ru/developers/payouts/overview or payouts within the Safe Deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. More about working with lists: https://yookassa.ru/developers/using-api/lists",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreatedGte"
          },
          {
            "$ref": "#/components/parameters/CreatedGt"
          },
          {
            "$ref": "#/components/parameters/CreatedLte"
          },
          {
            "$ref": "#/components/parameters/CreatedLt"
          },
          {
            "$ref": "#/components/parameters/SucceededGte"
          },
          {
            "$ref": "#/components/parameters/SucceededGt"
          },
          {
            "$ref": "#/components/parameters/SucceededLte"
          },
          {
            "$ref": "#/components/parameters/SucceededLt"
          },
          {
            "in": "query",
            "name": "payout_destination.type",
            "schema": {
              "$ref": "#/components/schemas/PayoutDestinationDataType"
            },
            "description": "Filter by the method of receiving the payout: https://yookassa.ru/developers/payouts/getting-started/payout-types-and-limits#types-destination code. Example: payout_destination.type=bank_card"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/PayoutStatus"
            },
            "description": "Filter by payout status: https://yookassa.ru/developers/api#payout_object_status. Example: status=succeeded"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutsList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payouts/search": {
      "get": {
        "summary": "Search for payouts",
        "description": "Use this request to search for payouts by the specified criteria. Available only for payouts created over the last 3 months. At this time, only search by the metadata parameter is available. You can also specify the date and time when the payout was created (the created_at parameter). Request authentication details: https://yookassa.ru/developers/using-api/interaction-format#auth depend on which payment solution you are using: basic payouts: https://yookassa.ru/developers/payouts/overview or payouts within the Safe Deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CreatedGte"
          },
          {
            "$ref": "#/components/parameters/CreatedGt"
          },
          {
            "$ref": "#/components/parameters/CreatedLte"
          },
          {
            "$ref": "#/components/parameters/CreatedLt"
          },
          {
            "$ref": "#/components/parameters/MetadataInQueryParameter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutsList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payouts/{payout_id}": {
      "get": {
        "summary": "Get payout information",
        "description": "\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u044d\u0442\u043e\u0442 \u0437\u0430\u043f\u0440\u043e\u0441, \u0447\u0442\u043e\u0431\u044b \u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u0435\u043a\u0443\u0449\u0435\u043c \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0438 \u0432\u044b\u043f\u043b\u0430\u0442\u044b \u043f\u043e \u0435\u0435 \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u043c\u0443 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u0443. \u0414\u0430\u043d\u043d\u044b\u0435 \u0434\u043b\u044f \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438: https://yookassa.ru/developers/using-api/interaction-format#auth \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432 \u0437\u0430\u0432\u0438\u0441\u044f\u0442 \u043e\u0442 \u0442\u043e\u0433\u043e, \u043a\u0430\u043a\u043e\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0435 \u0440\u0435\u0448\u0435\u043d\u0438\u0435 \u0432\u044b \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0435 \u2014 \u043e\u0431\u044b\u0447\u043d\u044b\u0435 \u0432\u044b\u043f\u043b\u0430\u0442\u044b: https://yookassa.ru/developers/payouts/overview \u0438\u043b\u0438 \u0432\u044b\u043f\u043b\u0430\u0442\u044b \u0432 \u0440\u0430\u043c\u043a\u0430\u0445 \u0411\u0435\u0437\u043e\u043f\u0430\u0441\u043d\u043e\u0439 \u0441\u0434\u0435\u043b\u043a\u0438: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PayoutIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043f\u0440\u043e\u0441 \u043f\u0440\u0438\u043d\u044f\u0442 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0443 \u0438 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidCredentials"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/sbp_banks": {
      "get": {
        "summary": "List FPS participants",
[...]
